*{  
    box-sizing: border-box;  
    font-size: 20px;
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
}
    .wrapper {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 280px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: #4C6085;
    padding: 1rem;
    border-radius: 10px;

}
.wrapperLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}
.wrapperRight {
    height: 100%;
    width: 50px;
    margin-left: -2px;
}
.display {
    height: 76px;
    width: 98%;
    padding-top: 1rem;
    text-align: right;
    border-radius: 10px;
    background-color: white;
    padding-right: 6px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
}
.number {
    height: 2rem;
    width: 32%;
    margin: 1px;
    background-color: #36f1cd;
    border: none;

}
.ca, .point {
    height: 2rem;
    width: 32%;
    margin: 1px;
    background-color: #36f1cd;
    border: none;
}

.operator {
    height: 2rem;
    width: 50px;
    background-color: #39a0ed;
    margin: 1px;
    border: none;
    margin-left: 1px;

}

.equal {
    height: 70px;
    width: 53px;
    background-color: #39a0ed;
    margin: 1px;
    border: none;

}
.operators {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  
}

button {
    border-radius: 10px;
}